@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after; {
	box-sizing: inherit;
}

body {
	background-color: black;
}

.asteroid {
	height: 150px;
	width: 150px;
	position: absolute;
	left: 100px;
	top: 200px;

	-webkit-animation: asteroid-rotate 10s ease-in-out infinite alternate;
	animation: asteroid-rotate 10s ease-in-out infinite alternate;
}

@-webkit-keyframes asteroid-rotate {
	0% {
		-webkit-transform: translate(0px) rotate(0deg);
	}

	33% {
		-webkit-transform: translate(5px, 5px);
	}

	66% {
		-webkit-transform: translate(-5px,-5px);
	}

	100% {
		-webkit-transform: rotate(360deg);
	}
}

.ship {
	height: 150px;
	width: 150px;
	position: absolute;
	right: 250px;
	bottom: 200px;

	-webkit-animation: hover 6s forwards infinite;
	animation: hover 6s forwards infinite;
}

@-webkit-keyframes hover {
	0% {
		-webkit-transform: translate(0px) rotate(0deg);
	}

	25% {
		-webkit-transform: translateX(6px) rotate(-5deg);
	}

	50% {
		-webkit-transform: translate(75px, 10px) rotate(5deg);
	}

	75% {
		-webkit-transform: translateX(6px) rotate(10deg);
	}

	85% {
		-webkit-transform: rotate(-15deg);
	}

	100% {
		-webkit-transform: translate(0px, 0px);
	}
}

.missile {
	height: 5px;
	width: 10px;
	position: absol;
}


.stars {
	background-image: url(../images/stars.svg);
	height: 100vh; /* "vh" stands for viewport height, it makes the image as tall as the screen */

	-webkit-animation: zoom 16s infinite alternate;
	animation: zoom 16s infinite alternate;
}

@-webkit-keyframes zoom {
	0% {
		-webkit-transform: scale(1,1);
	}

	100% {
		-webkit-transform: scale(1.1, 1.1);
	}
}